body,html{
  height:100%;
  margin: 0 auto;
}
body div[class="row"]:first-child{
  height: 800px;
}
.border{
  border: 5px solid black;
  box-sizing: border-box;
}
.rouge{
  background-color: red;
}
.gauche{
    height: 50%;
}
.gris{
  background-color: grey;
}
.jaune{
  background-color: yellow;
}
.blanc{
    background-color: white;
}
.bleu{
  background-color: blue;
}
.cote_gauche{
  height: 100%;
}
.centre_haut_gauche{
  height: 25%;
}
.centre_bas_gauche{
  height: 75%;
  border: 3px solid black;
  box-sizing: border-box;
}
.centre_haut{
    height: 25%
}
.centre_droit{
  height: 25%;
}
.centre_droit_2{
    height: 25%
}
.centre_bas_int{
  height: 50%;
  background-color: grey;
}
.centre_bas_droit{
  height: 25%;
}
.cote_droit{
  height: 50%;
}
.bas{
  height: 15%;
}
.border_droite{
    border-right: 5px solid black;
}
.border_haut{
    border-top: 5px solid black;
}
.border_gauche{
    border-left: 5px solid black;
}

/*hover, animations pour zoom*/
div[class*='col-md'] div[class*='col-md'], .bas,.bizarre{
    transition: all 0.15s;
	-moz-transition: all 0.15s;
	-webkit-transition: all 0.15s;
	-o-transition: all 0.15s;
}
div[class*='col-md'] div[class*='col-md']:hover,.bas:hover,.bizarre:hover{
    overflow: hidden;
    transform: scale(1.3);
	-ms-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3);
	-moz-transform: scale(1.3);
    z-index: 1;
}